@{
    ViewData["Title"] = "About Us";
}
<h1>@ViewData["Title"]</h1>
<p>Welcome to the YouTube API Project!</p>
<p style="text-align: justify;">
    Our mission is to simplify and enhance the way developers interact with YouTube's vast library of videos. We understand that navigating the YouTube API can be complex and time-consuming. Therefore, we have created this project to provide developers with a user-friendly interface and powerful tools to search, manage, and analyze YouTube content efficiently.

    Our team is passionate about leveraging the power of YouTube's platform to help developers create innovative applications and services. Whether you're building a video streaming app, integrating YouTube videos into your website, or performing data analysis on trending videos, our project aims to provide you with the resources and support you need.

    We are committed to continuous improvement and regularly update our project with new features and enhancements based on user feedback. Our goal is to make working with the YouTube API as seamless and enjoyable as possible, empowering developers to unlock the full potential of YouTube's content.

    Thank you for choosing the YouTube API Project. We look forward to seeing the amazing things you will create!
</p>
